<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dropout</title>
    <!--LINK CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/shop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/page2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/productcard.css') }}">
    <!--LINK ICONS-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!--LINK GSAP + JAVASCRIPT-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="script.js" defer></script>
</head>
<body>
  <div class="interactive-settings">
    <button class="close-interactivity"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i>Close</button>
    <div class="choice_pad k">
      <!--==================BRAND SELECTION================================-->
      <div class="select-menu n1">
        <div class="select-btn n1">
          <span class="sBtn-text n1">Select Brands</span>
          <i class="bx bx-chevron-down"></i>
        </div>
        <ul class="options n1">
            <li class="option n1" onclick="showAll()">
                <span class="option-text n1">All</span>
            </li>
            <li class="option n1" onclick="filterDiv('corteiz')">
                <span class="option-text n1">Corteiz</span>
            </li>
            <li class="option n1" onclick="filterDiv('polo')">
                <span class="option-text n1">Polo Ralph Lauren</span>
            </li>
            <li class="option n1" onclick="filterDiv('stussy')">
                   <span  class="option-text n1">Stussy</span>
            </li>
            <li class="option n1" >
                <span class="option-text n1">Compagnie de Californie</span>
            </li>
        </ul>
    </div>
    <!--==================CATEGORY SELECTION================================-->
    <div class="selection-tab">
      <div class="button-for-selection">
          <span class="span-selection">Select Category</span>
          <i class="bx bx-chevron-down"></i>
      </div>
      <ul class="opts">
          <li class="opt works" onclick="showAll()">
              <span class="option-text2">All</span>
          </li>
          <li class="opt" onclick="filterDiv('t-shirt')" >
              <span class="option-text2">T-Shirts</span>
          </li>
          <li class="opt"  onclick="filterDiv('hoodie')">
              <span class="option-text2">Hoodies and Sweats</span>
          </li>
          <li class="opt">
              <span class="option-text2">Shoes</span>
          </li>
          <li class="opt">
              <span class="option-text2">Shorts</span>
          </li>
      </ul>
    </div>
  </div>
    <div class="search-box">
      <i class="bx bx-search"></i>
      <input type="text" placeholder="Search a Brand" />
    </div>
    <div class="searchsuggestions phone">
      <span>Suggestions</span>
    </div>

  </div>
    <!--==================Headers===================-->
    <!--Pre-Header-->
    <div class="pre-header">
        <p>Introducing DROPOUT, low prices big brands®.<span>DROPOUT Clothing © 2024</span></p>
    </div>
    <!--PHONE HEADER-->
    <nav class="phonenav">
      <div class="sectionlogo2">
        <span>DRP</span>
        <img src="{{ url_for('static', filename='/img/logoheader.png') }}" alt="">
        <span>2024</span>
      </div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
          <!--<li class="drop-nav-phone-li"><a href="/shop" class="drop-nav-phone">Shop Drop</a></li>
          <li>
              <p onclick="toggleCart()"  class="carttoggle"><svg xmlns="http://www.w3.org/2000/svg" height="26" width="18" viewBox="0 0 576 512" style="visibility: visible;"><path fill="#ffffff" d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>  Shopping Cart</p>
          </li>
          <li class="information-nav"><a href="/">Information</a></li>
          <li><a class="active" href="/terms-and-conditions">Terms of Conditions</a></li>
          <li><a class="active" href="/shipping-and-returns">Shipping and Returns</a></li>
          <li><a class="active" href="/privacy-policy">Privacy-Policy</a></li>-->
          <a href="/" class="home">
          <span class="icon"><i class="fa-solid fa-house" style="color: #ffffff;"></i></span> Home
        </a>
        <a href="#" class="cart">
          <span class="icon"  onclick="toggleCart()"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></span> <p onclick="toggleCart()">Shopping Cart</p>
        </a> 
        <a href="/shop" class="another-container">
          <span class="icon"><i class="fa-solid fa-bag-shopping" style="color: #ffffff;"></i></span> Shop
        </a>
          <div class="small-container">
            <a href="/terms-and-conditions">Terms</a>
            <a href="/shipping-and-returns">Shipping</a>
            <a href="/privacy-policy">Privacy</a>
          </div>
      </ul>
      <!--<div class="phone-container">
          <a href="#" class="home">
              <span class="icon">🏠</span> Home
          </a>
          <a href="#" class="cart">
              <span class="icon">🛒</span> Shopping Cart
          </a>
          <a href="#" class="another-container">
              Another Container
          </a>
  
           Nested small container inside phone container 
          <div class="small-container">
            <a href="#">Terms</a>
            <a href="#">Shipping</a>
            <a href="#">Privacy</a>
        </div>
      </div>-->
    </nav>
    <!--Header-->
    <div class="black-color"></div>
    <header  id="header" class="absolute">
        <span class="title">DRP</span>
        <a href="/" class="linkhomelogo">
          <div class="sectionlogo">
            <span>DRP</span>
            <img src="{{ url_for('static', filename='/img/logoheader.png') }}" alt="">
            <span>2024</span>
          </div>
        </a>
        <div class="nav-better">
          <a href="/shop" class="drop">LATEST DROP</a>
          <button onclick="toggleCart()" style="visibility: hidden;" class="carttoggle"><svg xmlns="http://www.w3.org/2000/svg" height="26" width="18" viewBox="0 0 576 512" style="visibility: visible;"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></button>
          <a href="/" class="infodrop">INFO</a>
          <div class="dropdown">
            <button class="dropbtn">MORE 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <li><a href="/terms-and-conditions">Terms of Service</a></li>
              <li><a href="/shipping-and-returns">Shipping and Returns</a></li>
              <li><a href="/privacy-policy">Privacy-Policy</a></li>
            </div>
          </div>
        </div>
      </header>
    <!--========================SHOP E-COMMERCE==========================
    <button id="openButton" class="openfilter">Open Div</button>
    <div id="slidingDiv" class="hidden">
      <button id="closeButton">Close Div</button>
      <p>This is the sliding div content.</p>
    </div>-->
    <button class="settings-filter">FILTER +/-</button>
    <div class="choice_pad">
      <!--==================BRAND SELECTION================================-->
      <div class="select-menu n1">
        <div class="select-btn n1">
          <span class="sBtn-text n1">Select Brands</span>
          <i class="bx bx-chevron-down"></i>
        </div>
        <ul class="options n1">
            <li class="option n1" onclick="showAll()">
                <span class="option-text n1">All</span>
            </li>
            <li class="option n1" onclick="filterDiv('corteiz')">
                <span class="option-text n1">Corteiz</span>
            </li>
            <li class="option n1" onclick="filterDiv('polo')">
                <span class="option-text n1">Polo Ralph Lauren</span>
            </li>
            <li class="option n1" onclick="filterDiv('stussy')">
                   <span  class="option-text n1">Stussy</span>
            </li>
            <li class="option n1" >
                <span class="option-text n1">Compagnie de Californie</span>
            </li>
        </ul>
    </div>
    <!--==================CATEGORY SELECTION================================-->
    <div class="selection-tab">
      <div class="button-for-selection">
          <span class="span-selection">Select Category</span>
          <i class="bx bx-chevron-down"></i>
      </div>
      <ul class="opts">
          <li class="opt works" onclick="showAll()">
              <span class="option-text2">All</span>
          </li>
          <li class="opt" onclick="filterDiv('t-shirt')" >
              <span class="option-text2">T-Shirts</span>
          </li>
          <li class="opt"  onclick="filterDiv('hoodie')">
              <span class="option-text2">Hoodies and Sweats</span>
          </li>
          <li class="opt">
              <span class="option-text2">Shoes</span>
          </li>
          <li class="opt">
              <span class="option-text2">Shorts</span>
          </li>
      </ul>
    </div>
  </div>
    <div class="search-box">
      <i class="bx bx-search"></i>
      <input type="text" placeholder="Search a Brand" />
    </div>
    <div class="searchsuggestions phone">
      <span>Suggestions</span>
    </div>
    <div class="intermap">
      <span>Shop with the best prices.</span>
    </div>
    <!--------------------------CART SYSTEM))))))))))))))))))))))))))-->
    <section class="container" id="cart-system">
      <div class="boxx b1"> 
        <p onclick="toggleCart()"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="16" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#312f2f" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></p>
        <h2>Shopping Cart</h2>
      </div>
      <div class="boxx b2">
        <div id="cart-section">
            <ul id="cart-list">

            </ul>
        </div>
        <div>
          <button onclick="clearCart()" class="clear-cart">Clear Cart</button>
        </div>
      </div>
      <div class="boxx b3">
        <form id="cart-form" action="/create-checkout-session" method="POST" class="cart-form">
           <button type="submit" id="checkout-button" class="checkout-button">Checkout</button>
        </form>
      </div>
    </section>
    <!--=================================STORE ITEMS=========================-->
    <div class="box" id="store-items">
        <!--PRODUCT CARD
          <div class="product-card n2 corteiz hoodie" data-name="corteiz" onclick="openPopup2()">
            <div class="logo-cart">
              <img src="{{ url_for('static', filename='/img/image1.gif') }}" alt="logo">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
            </div>
            <div class="main-images">
              <img id="blue" class="normal" src="{{ url_for('static', filename='/img/corteizscreenhoodie.png') }}" alt="blue">
            </div>
            <div class="shoe-details">
              <span class="shoe_name">Corteiz</span>
              <p>Hoodies</p>
            </div>
            <div class="color-price v1">
              <div class="price">
                <span class="pricscrossed">60,00 €</span>
                <span class="price_num">39,00 €</span>
              </div>
            </div>
            <div class="stock">
              <p>Out of stock</p>
            </div>
        </div>-->
      <!--PRODUCT CARD-->
        <a href="product/product1">
          <div class=" product-card n1 polo t-shirt" onclick="open()" data-name="polo">
            <div class="logo-cart">
              <img src="{{ url_for('static', filename='/img/logo/Stone-Island-icon.png') }}" style="width: 120px;" alt="logo">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
            </div>
            <div class="main-images">
              <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo1.png') }}"  style="margin-left: 12px; border-radius: 3px; margin-top: 0px;margin-bottom: 10px; width: 90%;height: 90%;" alt="blue">
            </div>
            <div class="shoe-details">
              <span class="shoe_name">STONE ISLAND</span>
              <p>Dark Grey Hoodie</p>
            </div>
            <div class="color-price v1">
              <div class="price">
                <span class="pricscrossed"></span>
                <span class="price_num">170,00 €</span>
              </div>
            </div>
           </div>
        </a>
      <!--PRODUCT CARD-->
      <a href="/product/product2">
        <div class=" product-card n1 polo t-shirt" onclick="open()" data-name="polo">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/logo/logocp.webp') }}" style="width: 120px;" alt="logo">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo2.png') }}"  style="margin-left: 10px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;" alt="blue">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">CP Company</span>
            <p>Shell Coat</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed"></span>
              <span class="price_num">319,00 €</span>
            </div>
          </div>
         </div>
      </a>
      <a href="/product/product3">
        <div class=" product-card n1 polo t-shirt" onclick="open()" data-name="polo">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/logo/polologo.png') }}" style="width: 70px;" alt="logo">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo3.png') }}"   style="margin-left: 12px; border-radius: 3px; margin-top: 0px;margin-bottom: 10px; width: 90%;height: 90%;"alt="blue">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Polo Ralph Lauren</span>
            <p>Black Zip Hoodie</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">Size M</span>
              <span class="price_num">130,00 €</span>
            </div>
          </div>
         </div>
      </a>
      <!--PRODUCT CARD-->
      <a href="/product/product4">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/logo/thenorthfacelogo.jpg') }}" alt="logo"style="width: 50px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo4.png') }}" alt="blue" style="margin-left: 15px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">The North Face</span>
            <p>Puffer Jacket 700</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">239,00 €</span>
              <span class="price_num">239,00 €</span>
            </div>
          </div>
          </div>
       </a>
       <!--PRODUCT CARD-->
       <a href="/product/product5">
        <div class=" product-card n1 polo t-shirt" onclick="open()" data-name="polo">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/logo/logocp.webp') }}" style="width: 120px;" alt="logo">
            <i class='bx bx-shopping-bag'></i>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo5.png') }}"  style="margin-left: 10px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;" alt="blue">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">CP Company</span>
            <p>White Sweats</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed"></span>
              <span class="price_num">130,00 €</span>
            </div>
          </div>
         </div>
      </a>
       <!--PRODUCT CARD
       <a href="/product/product4">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/image3.jpg') }}" alt="logo" style="width: 120px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo4.png') }}"  style="margin-left: 12px; border-radius: 3px; margin-top: 0px;margin-bottom: 10px; width: 90%;height: 90%;"alt="blue">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Nike x Stussy</span>
            <p>Trainers</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">130,00 €</span>
              <span class="price_num">130,00 €</span>
            </div>
          </div>
          </div>
       </a>-->
       <a href="/product/product6">
        <div class=" product-card n1 polo t-shirt" onclick="open()" data-name="polo">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/logo/polologo.png') }}" style="width: 70px;" alt="logo">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo6.png') }}"   style="margin-left: 0px; border-radius: 3px; margin-top: 0px;margin-bottom: 10px; width: 90%;height: 90%;"alt="blue">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Polo Ralph Lauren</span>
            <p>Black Joggers</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">Size S</span>
              <span class="price_num">130,00 €</span>
            </div>
          </div>
        </div>
      </a>
       <!--PRODUCT CARD-->
       <a href="/product/product7">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/logo/arclogo.jpg') }}" alt="logo" style="width: 120px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo7.png') }}" alt="blue" style="margin-left: 0px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Arc'teryx</span>
            <p>Jacket Beta</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">250,00 €</span>
              <span class="price_num">295,00 €</span>
            </div>
          </div>
          </div>
       </a>
       <!--PRODUCT CARD
       <a href="/product/product6">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/logopalmangels.png') }}" alt="logo" style="width: 120px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/logopalmangels.png') }}" alt="blue" style="margin-left: 40px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Corteiz</span>
            <p>Cap</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">60,00 €</span>
              <span class="price_num">39,00 €</span>
            </div>
          </div>
          </div>
       </a>-->
       <!--PRODUCT CARD
       <a href="/product/product8">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/logo/Stone-Island-icon.png') }}" alt="logo" style="width: 120px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo6.png') }}" alt="blue" style="margin-left: 40px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Stone Island</span>
            <p>Black T-Shirt</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed"></span>
              <span class="price_num">90,00 €</span>
            </div>
          </div>
          </div>
       </a>-->
       <!--PRODUCT CARD
       <a href="/product/product8">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/monclerlogo.png') }}" alt="logo"style="width: 50px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo7.png') }}" alt="blue" style="margin-left: 40px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Moncler</span>
            <p>Maya Puffer Jacket</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="price_num">800,00€</span>
            </div>
          </div>
          </div>
       </a> -->
       <a href="/product/product9">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/logo/image1.gif') }}" alt="logo" style="width: 120px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo9.png') }}" alt="blue" style="margin-left: 40px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Corteiz</span>
            <p>T-Shirt</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">58,00 €</span>
              <span class="price_num">58,00 €</span>
            </div>
          </div>
          </div>
       </a>
       <!--PRODUCT CARD
       <a href="/product/product11">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/logopalmangels.png') }}" alt="logo" style="width: 120px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo11.png') }}" alt="blue" style="margin-left: 40px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Palm Angels</span>
            <p>Black Hoodie</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">350,00 €</span>
              <span class="price_num">350,00 €</span>
            </div>
          </div>
          </div>
       </a>-->
       <!--PRODUCT CARD-->
      <!--PRODUCT CARD-->
      <!--PRODUCT CARD
      <a href="/product/product14">
        <div class=" product-card n1 polo t-shirt" onclick="open()" data-name="polo">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/image2.webp') }}" style="width: 90px;" alt="logo">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo14.png') }}"   style="margin-left: 12px; border-radius: 3px; margin-top: 0px;margin-bottom: 10px; width: 90%;height: 90%;"alt="blue">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Nike x Nocta Fleece</span>
            <p>Baby Blue Zip-Hoodie</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">Size XS</span>
              <span class="price_num">145,00 €</span>
            </div>
          </div>
        </div>
      </a>-->
      <!--PRODUCT CARD
      <a href="/product/product15">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/image1.gif') }}" alt="logo" style="width: 120px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo15.png') }}"  style="margin-left: 12px; border-radius: 3px; margin-top: 0px;margin-bottom: 10px; width: 90%;height: 90%;"alt="blue">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Corteiz</span>
            <p>Grey Windbreaker</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">140,00 €</span>
              <span class="price_num">215,00 €</span>
            </div>
          </div>
          </div>
      </a>-->
      <!--PRODUCT CARD
      <a href="/product/product16">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/logotrap.jpg') }}" alt="logo" style="width: 120px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo16.png') }}" alt="blue" style="margin-left: 40px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">TrapStar</span>
            <p>Black Puffer Jacket</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">250,00 €</span>
              <span class="price_num">480,00 €</span>
            </div>
          </div>
          </div>
      </a>-->
      <!--PRODUCT CARD
      <a href="/product/product17">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/Stone-Island-icon.png') }}" alt="logo" style="width: 120px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo17.png') }}" alt="blue" style="margin-left: 40px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Stone Island</span>
            <p>Shell Jacket</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">100,00 €</span>
              <span class="price_num">550,00 €</span>
            </div>
          </div>
          </div>
      </a>-->
      <!--PRODUCT CARD
      <a href="/product/product18">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/logopalmangels.png') }}" alt="logo" style="width: 120px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo18.png') }}" alt="blue" style="margin-left: 40px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Palm Angels</span>
            <p>Hoodie</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">100,00 €</span>
              <span class="price_num">350,00 €</span>
            </div>
          </div>
          </div>
      </a>-->
      <!--PRODUCT CARD
      <a href="/product/product19">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/image1.gif') }}" alt="logo" style="width: 120px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo19.png') }}" alt="blue" style="margin-left: 40px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Corteiz</span>
            <p>Windbreaker Jacket</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">100,00 €</span>
              <span class="price_num">215,00 €</span>
            </div>
          </div>
          </div>
      </a>-->
      <!--PRODUCT CARD
      <a href="/product/product20">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/logotrap.jpg') }}" alt="logo"style="width: 120px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo20.png') }}" alt="blue" style="margin-left: 40px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">TrapStar</span>
            <p>Puffer Jacket</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">150,00 €</span>
              <span class="price_num">450,00 €</span>
            </div>
          </div>
          </div>
      </a>-->
      <!--PRODUCT CARD
      <a href="/product/product21">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/image2.webp') }}" alt="logo" style="width: 90px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/stussyscreenzip.png') }}" alt="blue" style="margin-left: 40px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Nike x Nocta Fleece</span>
            <p>Black Zip-Hoodie</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">60,00 €</span>
              <span class="price_num">245,00 €</span>
            </div>
          </div>
          </div>
      </a>-->
      <!--PRODUCT CARD
      <a href="/product/product22">
        <div class=" product-card n1 stussy hoodie"  data-name="stussy">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/Stussy logo.png') }}" alt="logo" style="width: 120px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo11.png') }}" alt="blue" style="margin-left: 40px; border-radius: 3px; margin-top: 10px;margin-bottom: 10px;">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">Stüssy</span>
            <p>T-Shirt</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed">60,00 €</span>
              <span class="price_num">39,00 €</span>
            </div>
          </div>
          </div>
      </a>-->
       <!--PRODUCT CARD
      <a href="/product/product3">
        <div class=" product-card n1 polo t-shirt" onclick="open()" data-name="polo">
          <div class="logo-cart">
            <img src="{{ url_for('static', filename='/img/Stone-Island-icon.png') }}" style="width: 120px;" alt="logo">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path></svg>
          </div>
          <div class="main-images">
            <img id="blue" class="blue active" src="{{ url_for('static', filename='/img/photo3.png') }}"   style="margin-left: 12px; border-radius: 3px; margin-top: 0px;margin-bottom: 10px; width: 90%;height: 90%;"alt="blue">
          </div>
          <div class="shoe-details">
            <span class="shoe_name">STONE ISLAND</span>
            <p>Cargo Jogger</p>
          </div>
          <div class="color-price v1">
            <div class="price">
              <span class="pricscrossed"></span>
              <span class="price_num">120,00 €</span>
            </div>
          </div>
         </div>
      </a>-->

        
    </div>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
        <script type="text/javascript">
          (function() {
              // https://dashboard.emailjs.com/admin/account
              emailjs.init('cEoMJPhXw35uC4Z4v');
          })();
      </script>
      <script src="script.js" type="text/javascript"></script>
      <script src="{{ url_for('static', filename='/js/popups.js') }}" type="text/javascript"></script>
    <script>
        //Filter Brands
                function filterDiv(filter) {
          const divs = document.querySelectorAll('.stussy, .corteiz, .polo, .jordan, .hoodie, .t-shirt');
          for (const div of divs) {
              if (div.classList.contains(filter)) {
                  div.style.display = 'block';
              } else {
                  div.style.display = 'none';
              }
          }
        }

        function showAll() {
          const divs = document.querySelectorAll('.stussy, .corteiz, .polo, .jordan, .hoodie, .t-shirt');
          for (const div of divs) {
              div.style.display = 'block';
          }
        }

        //SELCCTION
        const optionMenu = document.querySelector(".select-menu.n1"),
       selectBtn = optionMenu.querySelector(".select-btn.n1"),
       options = optionMenu.querySelectorAll(".option.n1"),
       sBtn_text = optionMenu.querySelector(".sBtn-text.n1");

selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));       

options.forEach(option =>{
    option.addEventListener("click", ()=>{
        let selectedOption = option.querySelector(".option-text.n1").innerText;
        sBtn_text.innerText = selectedOption;

        optionMenu.classList.remove("active");
    });
});


//SELECTION N2
      const optionMenu2 = document.querySelector(".selection-tab"),
       selectBtn2 = optionMenu2.querySelector(".button-for-selection"),
       opt = optionMenu2.querySelector(".opt"),
       optiontr = optionMenu2.querySelector(".opt.works"),
       sBtn_text2 = optionMenu2.querySelector(".selection-span");

selectBtn2.addEventListener("click", () => optionMenu2.classList.toggle("active"));       

opt.addEventListener("click", ()=>{
        let selectedopt = opt.querySelector(".option-text2").innerText;
        sBtn_text2.innerText = selectedopt;
        optionMenu2.classList.remove("active"); })



        //Search Bar
const search = document.querySelector(".search-box input"),
      images2 = document.querySelectorAll(".product-card");
      suggestions = document.querySelector(".searchsuggestions.phone");

search.addEventListener("keyup", e =>{
    if(e.key == "Enter"){
      suggestions.style.display = "none";
        let searcValue = search.value,
            value = searcValue.toLowerCase();
            images2.forEach(image56 =>{
                if(value === image56.dataset.name){ //matching value with getting attribute of images
                    return image56.style.display = "block";
                }
                image56.style.display = "none";
            });
    }
});

search.addEventListener("keyup", () =>{
    if(search.value != "") return;
    images2.forEach(image34 =>{
        image34.style.display = "block";
    })
})
search.addEventListener("input", () => {
  if (search.value.trim() !== "") {
    suggestions.style.display = "block";
  } else {
    suggestions.style.display = "none";
  }
});


// Get references to the button and the popup div
const showPopupButton4 = document.querySelector('.settings-filter');
const popup78 = document.querySelector('.interactive-settings');
const closePopupButton7 = document.querySelector('.close-interactivity');

// Event listener to show the popup when the button is clicked
showPopupButton4.addEventListener('click', () => {
    popup78.style.display = 'block';
});

// Event listener to close the popup when the close button is clicked
closePopupButton7.addEventListener('click', () => {
    popup78.style.display = 'none';
});



    </script>
      <script src="{{ url_for('static', filename='/js/shop.js') }}" defer></script>
      <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>