
@keyframes slide {
	from {
	  transform: translateX(0);
	}
	to {
	  transform: translateX(-100%);
	}
  }
  
  .logos {
	overflow: hidden;
	padding: 25px 0;
	background: black;
	white-space: nowrap;
	position: absolute;
	top: 70%;
	left: 0%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .logos:before,
  .logos:after {
	position: absolute;
	top: 0;
	width: 250px;
	height: 100%;
	content: "";
	z-index: 2;
  }
  
  .logos:before {
	left: 0;
	background: linear-gradient(to left, rgba(255, 255, 255, 0), #333);
  }
  
  .logos:after {
	right: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), #24262b);
  }
  
  .logos:hover .logos-slide {
	animation-play-state: paused;
  }
  .logocontainer{
	position: relative;
	background-color: transparent;
	z-index: 34;
	width: 900px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 15px;
  }
  .logocontainer img{
	width: 150px;
  }
  .img1{
	width: 75px!important;
  }
  
  .logos-slide {
	display: inline-block;
	animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
	height: 50px;
	margin: 0 40px;
  }
.container11{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	position: absolute;
	top: 80%;
	left: 0%;
	width: 100%;
	background-color: black;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #333;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;

}
 .logos{
	display: none;
 }
 .logocontainer img{
	width: 30px;
  }
}




