/*@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Noto+Sans+Multani&family=Orbitron:wght@600&family=Roboto&family=Rubik:wght@700&family=Space+Mono&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif!important;
}
body{
    background-color: black;
    color: white;
    font-size: 20px;
}

/*==============================Headers==================================*/
.pre-header{
    position: fixed;
    top: -1px;
    height: 5%;
    width: 100%;
    border-bottom: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: black;
    background: rgba(0, 0, 0, 0.91);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.pre-header p{
    color: white;
    font-family: 'Cutive Mono', monospace;
    font-weight: 900;
    font-size: 15px;
    position: relative;
    left: 5px;
}
header{
    position: fixed;
    top: 5%;
    height: 8%;
    width: 100%;
    border-bottom:  3px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding-left: 4%;
    padding-right: 2%;
    background: rgba(0, 0, 0, 0.91);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 9999;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

header .sectionlogo{
  margin-left: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;

}
.linkhomelogo{
    text-decoration: none;
    color: white;
}
header img{
    width: 35%;
}
.nav{
    transform: translate(-50%,-50%);
    line-height: 40px;
    width: 380px;
    z-index: 9999;
}
.nav .label{
    display: block;
    cursor: pointer;
}
.button-drop{
    position: absolute;
    width: 200px;
    right: 20px;
    cursor: pointer;
}
.button-drop span{
   position: relative;
    line-height: 35px;
   margin-top: -30px;
   left: 110px;
    display: block;
}
.nav .menu:before{
    position: absolute;
    content: '';
    background-color: /*#18191a #121214*/ black;
    right: 20px;
    top: -10px;
    transform: rotate(45deg);
    z-index: -1;
}
.nav ul{
   position: absolute; 
   background: rgba(0, 0, 0, 0.91);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
   list-style: none;
   top: 30px;
   left: 185px;
   width: 100%;
   border-radius: 5px;
   display: none;
   z-index: 9999;
   font-family: 'Noto Sans Multani', sans-serif;
   font-weight: bold;
}
[id^=btn]:checked + ul{
    display: block;
}
.nav ul li{
    line-height: 40px;
    padding: 8px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.underclass{
    font-weight: 300;
}
.nav ul li label{
    font-size: 18px;
}
.nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
.nav ul li label:hover,
.nav ul li a:hover{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
.nav ul ul{
    position: static;
}
.nav ul ul li{
    line-height: 30px;
    padding-left: 30px;
    border-bottom: none;
}
.nav  ul ul li a{
   color: #e6e6e6;
   font-size: 17px;
}
.nav  ul li  span{
    font-size: 20px;
    float: right;
    margin-top: 10px;
}
header input{
    display: none;
}
.docu-container{
    display: flex;
  flex-direction: column;
}
.documents{
    margin-top: -10px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.documents:hover{
    margin-top: -10px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.phonenav{
  display: none;
}

.nav-better{
  position: relative;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
.infodrop{
 color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.drop{
  color: #111;
  background: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 900;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.infodrop:hover, .dropdown .dropbtn:hover{
  color: #111;
  background: #fff;
}
.dropdown {
  overflow: hidden;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  margin: 0;
  font-size: 10px;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.dropdown-content {
  position: absolute;
  right: -10px;
  list-style: none;
  display: none;
  background-color: #000;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  font-size: 8px;
  color: white;
  text-decoration: none;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #0f0f0f;
}

.dropdown:hover .dropdown-content {
  display: block;
}
  @media (max-width: 1000px){
    .phonenav{
      padding: 0 40px 0 50px;
      display: flex;
    }
  }
  @media (max-width: 920px) {
    .phonenav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    #click{
      display: none;
    }
    .phonenav{
      position: fixed!important;
      top: -3px;
    }
    .phonenav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: rgba(0, 0, 0, 0.92);
        backdrop-filter: blur(45px);
        -webkit-backdrop-filter: blur(45px);
        background-image: linear-gradient(#0f0f0f .0.1em, transparent .0.1em), linear-gradient(90deg, #0f0f0f .0.1em, transparent .0.1em);
        background-size: 2em 2em;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
      } 
    #click:checked ~ ul{
      left: 0;
    }
    .phonenav ul li{
      width: 100%;
      margin: 40px 0;
    }
    .phonenav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 20px;
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    .phonenav ul li a.active,
    .phonenav ul li a:hover{
      background: none;
      color: white;
      /*border: 2px solid white;*/
    }
    .phonenav ul li .active{
      font-size: 8px;
    }
  }
@media screen and (max-width:480px) {
    body,html{
        overflow-x: hidden;
    }
    .pre-header p{
        font-size: 10.5px;
    }
    .pre-header{
        display: none;
    }
    header{
        border-radius: 16px !important;
        display: none;
    }
    .marquee2{
        display: none;
    }
    .nav{
        position: absolute;
        top: -5%;
        left: 70%;
        width: 200px;
    }
    nav .button-drop p{
        display: none;
    }
    nav .button-drop span{
        position: absolute;
        top: 10px;
        left: 180px;
    }
    .sectionlogo{
        position: absolute;
        left: 70px;
        top: 3px;
    }
    
    .header .title{
        visibility: hidden;
    }
    /*
    .header .fas.fa-caret-down{
        display: none;
    }
    .header .fa-solid.fa-bars{
        display: block;
    }*/
    header .title{
        display: none;
    
      }
    .button-drop p{
        display: none;
    }
    .button-drop span{
        position: absolute;
        left: 150px;
        top: 10px;
    }
    header nav{
        position: absolute;
        left: 255px;
        top: 60px;
      }
    nav .menu{
        background-color: black;
        width: 390px;
        position: absolute;
        top: 0px;
        left: -155px;
    }
    .pre-header p{
        left: 1px;
    }

.phonenav{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.91);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 9;
}
li p svg{
  margin-bottom: -5px;
}
.phonenav .sectionlogo2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
} 
.phonenav .sectionlogo2 img{
  width: 60px;
} 

/*.phonenav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}*/
.phonenav ul {
  /*list-style: none;
padding: 0;
margin: 0 5px;*/
padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}


.phonenav a {
  text-decoration: none;
  color: #fff;
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.phonenav .home{
  margin-top: 20%;
}

.phonenav .home,
.phonenav .cart {
  font-size: 18px;
}

.phonenav .icon {
  margin-right: 5px;
}

.small-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.small-container a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  margin: 5px 0;
}
/*
.phonenav ul li{
  font-size:  30px!important;
}
.phonenav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size:  30px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.phonenav .menu-btn i{
  color: #fff;
  font-size: 30px;
  cursor: pointer;
      
    }
  .drop-nav-phone{
    margin: 40px;
    width: 200px;
    text-decoration: none;
    font-size: 10px;
    font-weight: 900;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .drop-nav-phone-li{
    padding: 30px;
   height: 150px;
    font-weight: 700;
  }
  .drop-nav-phone:hover{
    color: black;
    background-color: white;
  }*/

    
}

/*=================CART SYSTEM===============================================*/
.checkout-button{
  background-color: #0c0c0c;
  color: white;
  padding: 20px 120px !important;
  margin-top: 0px  !important;
  cursor: pointer;
  border-radius: 9px;
  border: none;
  
}
.checkout-button:hover{
  border: 3px solid #333;
  
}
.container {  
  display: none;
  font-family: 'Rubik', sans-serif;
  grid-template-rows: 20% 55% 25%;
  gap: 0px 0px;
  grid-auto-flow: row;
  position: fixed;
  width:50%;
  left:50%;
  height:89%;
  top:12%;
  z-index: 10;
  background-color: black;
  border-left: 3px solid #322f2f;
}
.cart-form{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .boxx {
  position: relative;
  width: 100%;
  height: 100%;
}




.cart-system {
  z-index: 10;
  /*POSITION*/
  position: fixed;
  background-color: black;
  top: 100px;
  width: 50%;
  height: 90%;
  left: 50%;
  font-family: 'Rubik', sans-serif;
  display: none;
  /*INSIDE-POSITION*/
  display: grid;
  grid-template-rows: 0.2 0.55 0.25;
}
.container .boxx.b1 {
  grid-template-rows: 1;
  position: relative !important;

}
.container .boxx.b1 p {
  position: absolute;
          top: 25px;
          left: 25px;
          width: 25px; /* Set your desired width */
          height: 25px; /* Set your desired height */
          fill: #007bff; /* Set the color for the SVG */
}
.container .boxx.b1 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.container .boxx.b2 {
  grid-template-rows: 2;
  display: grid !important;
  grid-template-rows: 70% 30%;
}
.container .boxx.b2 div {
  display: flex;
  align-items: center;
  justify-content: center;

}
.container .boxx.b3 {
  grid-template-rows: 3;
  display:flex;
  justify-content:center;
  align-items: center;
}

/*.cart-system h2 {
  position: absolute;
  top: 8%;
  left: 35%;
  text-align: center;
  color: white;
}
.cart-form{
  top: 0px;
}*/

#cart-list {
  list-style: none;
}

#cart-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-details {
  display: flex;
  align-items: center;
}

.cart-item-details img {
  max-width: 50px;
  margin-right: 10px;
}

.container button {
  background-color: #0c0c0c;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 9px;
  border: none;
}

.container button:hover {
  border: 2px solid #322f2f;
}

.delete-button{
 margin-left: 30px;
 margin-bottom: 13px;
}

 @media screen and (max-width: 600px) {
    .container{
      width: 100%;
      left: 0;
      border: none;
    }
    #cart-section{
      padding: 25px;
    }
    .boxx.b1 h2{
      width: 300px;
      left: 60% !important;
    }
 }