<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropout</title>
    <link rel="icon" href="{{ url_for('static', filename='/img/logo/logotab.png') }}">
    <!--LINK CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/scrollbar.css') }}">
    <!--LINK ICONS-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!--LINK GSAP + JAVASCRIPT-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="script.js" defer></script>
</head>
<body>
  <!--------------------------CART SYSTEM))))))))))))))))))))))))))-->
  <section class="container" id="cart-system">
    <div class="boxx b1"> 
      <p onclick="toggleCart()"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="16" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#312f2f" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></p>
      <h2>Shopping Cart</h2>
    </div>
    <div class="boxx b2">
      <div id="cart-section">
          <ul id="cart-list">

          </ul>
      </div>
      <div>
        <button onclick="clearCart()" class="clear-cart">Clear Cart</button>
      </div>
    </div>
    <div class="boxx b3">
      <form id="cart-form" action="/create-checkout-session" method="POST" class="cart-form">
         <button type="submit" id="checkout-button" class="checkout-button">Checkout</button>
      </form>
    </div>
  </section>
    <!--==================Headers===================-->
    <!--Pre-Header-->
    <div class="pre-header">
        <p>Introducing DROPOUT Inc., low prices big brands®. DROPOUT Clothing © 2024</p>
    </div>
    <!--PHONE HEADER-->
    <!--PHONE HEADER-->
  <nav class="phonenav">
    <div class="sectionlogo2">
      <span>DRP</span>
      <img src="{{ url_for('static', filename='/img/logoheader.png') }}" alt="">
      <span>2024</span>
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
        <!--<li class="drop-nav-phone-li"><a href="/shop" class="drop-nav-phone">Shop Drop</a></li>
        <li>
            <p onclick="toggleCart()"  class="carttoggle"><svg xmlns="http://www.w3.org/2000/svg" height="26" width="18" viewBox="0 0 576 512" style="visibility: visible;"><path fill="#ffffff" d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>  Shopping Cart</p>
        </li>
        <li class="information-nav"><a href="/">Information</a></li>
        <li><a class="active" href="/terms-and-conditions">Terms of Conditions</a></li>
        <li><a class="active" href="/shipping-and-returns">Shipping and Returns</a></li>
        <li><a class="active" href="/privacy-policy">Privacy-Policy</a></li>-->
        <a href="/" class="home">
        <span class="icon"><i class="fa-solid fa-house" style="color: #ffffff;"></i></span> Home
      </a>
      <a href="#" class="cart">
        <span class="icon"  onclick="toggleCart()"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></span> <p onclick="toggleCart()">Shopping Cart</p>
      </a>
      <a href="/shop" class="another-container">
        <span class="icon"><i class="fa-solid fa-bag-shopping" style="color: #ffffff;"></i></span> Shop
      </a>
        <div class="small-container">
          <a href="/terms-and-conditions">Terms</a>
          <a href="/shipping-and-returns">Shipping</a>
          <a href="/privacy-policy">Privacy</a>
        </div>
    </ul>
    <!--<div class="phone-container">
        <a href="#" class="home">
            <span class="icon">🏠</span> Home
        </a>
        <a href="#" class="cart">
            <span class="icon">🛒</span> Shopping Cart
        </a>
        <a href="#" class="another-container">
            Another Container
        </a>

         Nested small container inside phone container 
        <div class="small-container">
          <a href="#">Terms</a>
          <a href="#">Shipping</a>
          <a href="#">Privacy</a>
      </div>
    </div>-->
  </nav> 
    <!--Header-->
    <div class="black-color"></div>
    <header  id="header" class="absolute">
        <span class="title">DROPOUT</span>
        <a href="/" class="linkhomelogo">
          <div class="sectionlogo">
            <span>DRP</span>
            <img src="{{ url_for('static', filename='/img/logoheader.png') }}" alt="">
            <span>2024</span>
          </div>
        </a>
        <div class="nav-better">
          <a href="/shop" class="drop" style="color: black;">DROP 2 OCTOBER</a>
          <a href="/" class="infodrop">INFO</a>
          <div class="dropdown">
            <button class="dropbtn">MORE 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <li><a href="/terms-and-conditions">Terms of Service</a></li>
              <li><a href="/shipping-and-returns">Shipping and Returns</a></li>
              <li><a href="/privacy-policy">Privacy-Policy</a></li>
            </div>
          </div>
        </div>
</header>
    <section class="information-shipping">
        <p class="title-ship">Shipping and Returns</p>
    <span> <p>Shipping</p>
        All our products is lovingly made to order and they will be with you in less than 8 business days. Prices are calculated at the point of order and may vary depending on ship to location.
        
        All items are specified what stock we have. We aim to ship these out within 2 working days of purchase on a first class postal service. If you require them sooner, drop us an email and we will do our very best to get them to you sooner. 
        Contact address:
        contact@shop-dropout.com</span>
    <div> <p>Returns</p>
        We hope you will be pleased with your purchase. Should you wish to return anything bought from us, we will be happy to refund a product, provided it is in a fully resalable condition. The intention to return a product for refund should be made known to us within 24h of receiving that product. Please contact us to confirm your intention to return and attach your proof of purchase and images of the product in a returnable condition.
        
        The item must be physically returned to us within 6 days of your notification of intent to return the product, wherever possible in the original packaging and with the original receipt or proof of purchase. Please send the goods back to us at our address below at your own cost (unless we delivered the item to you in error or the item is damaged or defective).
        
        If we find that the product has not been returned to us in fully resalable condition, we reserve the right to refuse a refund on the item.
        
        If you have received a damaged item, please contact us to confirm your intention to return and upload images of the damaged item together with proof of purchase. We must be contacted within 24h of receipt to be able to process a refund. We will refund the delivery charges incurred in sending a damaged item back, should it be required. Please keep a receipt for your postage charges and include it with the return.
        
        We are unable to offer an exchange on any commissioned pieces. Please note we will refund your delivery charges when a product is faulty or damaged, but not when a product is simply unwanted. As we cannot guarantee receipt of a returned item, we recommend using a trackable shipping service to ensure peace of mind.
        
        Sale items cannot be refunded.
        
        This does not affect your statutory rights.
        
        Contact address:
        contact@shop-dropout.com
        
        Please contact us about your return.</div>
    </section>
    
    <style>
        .title-ship{
            font-size: 40px;
            color: white;
            z-index: 4;
            position: relative;
            top: 0%;
            left: 28%;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        .information-shipping{
            position: absolute;
            top: 20%;
            left: 4%;
            color: white;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            overflow-x: hidden;
        }
        .information-shipping span{
            position: relative;
            top: 5%;
            left: 0%;
            color: white;
            font-size: 19px;
        }
        .information-shipping span p{
            text-decoration: underline;
        }
        .information-shipping div{
            position: relative;
            top: 15%;
            left: 0%;
            color: white;
            font-size: 19px;
        }
        .information-shipping div p{
            text-decoration: underline;
        }
        input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
    display: none;
}
        @media screen  and (max-width:480px){
          .title-ship{
            left: 3px;
            top: 0;
          }
        }
     </style>
     <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
</body>
</html>